.bookshelf {
  max-width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.bookshelf-name {
  font-size: 2em;
  border-bottom: 2px solid lightgray;
  margin-bottom: 20px;
}

.bookshelf-books {
  display: flex;
}

.book-item {
  width: 20%;
  margin: auto;
}

.book-image {
  width: 140px;
  height: 200px;
  background: red;
}
